repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-xml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
    - id: pretty-format-kotlin
      args: [ --autofix, --ktlint-version=1.8.0 ]
- repo: local
  hooks:
    - id: check-debug-enabled
      name: Check debug enabled
      entry: val DEBUG = true
      language: pygrep
      files: '.+\.kt'
